<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>admin</title>
</head>
<body>
    <form method="POST" action="/admin">
        <div>
            <label>name</label>
            <div>
                <input type="text" name="name" >
            </div>
        </div>
        <div>
            <label>humidity</label>
            <div>
                <input type="text" name="humidity" maxlength="500" >
            </div>
        </div>
        <div>
            <label>sun light</label>
            <div>
                <input type="text" name="sunlight" maxlength="500" >
            </div>
        </div>
        <input class="banner-btn" type="submit" name="sub">
    </form>
</body>
</html>