<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>info</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700,800' rel='stylesheet' type='text/css'>
</head>
<body style="
  background-image: url('../static/images/infobg.jpeg');
  color: white;

">
	<center>
	{%for plant in t %}
		{%if t[plant][name] == plant_id%}
			<h2>{{t[plant]['name']}}:</h2>
			<h3>{{t[plant]['humidity']}}</h3>
			<h3>{{t[plant]['sunlight']}}</h3>
		{%endif%}
	{%endfor%}
	</center>
</body>
</html>